
/*@media print {
  
  /* document structure */

  div.page {
    page-break-after: always;
  }

  @page :first {
    margin: 5cm 2cm;
  }

  @page {
    margin: 1cm;
  }

  h1 {
    align: center;
    text-align: center;
  }

  /* page structure */

  .section {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }

  .section div, .section table { 
    flex: flex-basis;
  }

  .section .big {
    flex-basis: 100%;
  }

  /* misc */
  table {
    border-collapse: collapse;
  }

  thead {
    border-bottom: 3px solid black;
  }

  td, th {
    padding: 2px 10px;
    border-right: 1px solid black;
  }

/*}*/
